#ignore ide stuff
.idea/
.vscode/
__pycache__/

#ignore built stuff
build/
dist/
*.egg-info/

#ignore pip packge build stuff
build_package.sh

#ignore example result stuff
examples/ct_reconstruction/*.png
examples/ct_reconstruction/*.txt
examples/ct_reconstruction/pres/*.png
examples/ct_reconstruction/example_learning_tensorflow/logs
examples/ct_reconstruction/example_learning_tensorflow/trained_models
examples/ct_reconstruction/example_learning_tensorflow/plots/*.png
examples/ct_reconstruction/example_learning_tensorflow/plots/*.pdf

#ignore local venv
interp/